<%= render "layouts/navbar" %>

<div id="portfolio-show">
  <div class="container">
    <div class="row">
      <div class="left">
        <%= image_tag "spenceralan.png" %>
        <h3><%= link_to "Spencer Alan", home_path %></h3>
        <p>Before they sold out cronut enamel pin cold-pressed forage adaptogen venmo. 90's jean shorts fixie, aesthetic pop-up austin lumbersexual chia etsy butcher put a bird on it master cleanse. Shabby chic pickled post-ironic poke intelligentsia church-key keffiyeh marfa master cleanse cred authentic wolf taiyaki. Plaid kogi street art bitters gastropub. Sriracha copper mug whatever, taxidermy enamel pin gochujang prism pickled williamsburg food truck skateboard subway tile neutra. Venmo irony chia hashtag, cold-pressed photo booth chambray. Intelligentsia austin franzen mustache chia actually knausgaard iceland ramps small batch next level leggings bespoke. Chillwave shabby chic ramps, humblebrag af heirloom disrupt vegan taiyaki craft beer subway tile master cleanse kickstarter roof party fingerstache. Jianbing vexillologist retro scenester franzen.</p>
      </div>
    </div>

    <div class="row">
      <div class="right">
        <%= image_tag "tomkaneart.png" %>
        <h3><%= link_to "Tom Kane Art", "https://www.tomkaneart.com" %></h3>
        <p>Viral hell of disrupt, iPhone narwhal mlkshk brooklyn tacos mixtape celiac tofu fam portland sartorial. Meditation ugh distillery kale chips craft beer, kogi four loko PBR&B pok pok. Fingerstache bitters next level, listicle cray meggings portland deep v skateboard vegan +1 shaman trust fund. Wolf man braid pug disrupt chia, leggings helvetica. +1 PBR&B pork belly waistcoat austin kinfolk meditation tbh. Raw denim pok pok pour-over chicharrones beard street art. Church-key tattooed mlkshk, schlitz humblebrag chambray franzen selvage. Retro poutine knausgaard kombucha. Pug offal swag narwhal franzen chia, squid +1 health goth artisan ugh mumblecore. Gentrify messenger bag aesthetic, flannel helvetica copper mug meditation kogi literally small batch pitchfork tumblr. Chia pork belly tumblr glossier neutra sustainable jianbing before they sold out. Squid normcore kinfolk street art tattooed cornhole health goth asymmetrical. Polaroid truffaut lumbersexual next level hexagon church-key williamsburg, glossier cold-pressed enamel pin DIY asymmetrical.</p>
      </div>
    </div>
  </div>
</div>